body {
    background-color: lightgray;
}

.item__pay {
    border: 1px solid gray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.buy__options {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 1rem;
}

.product__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 500px;
}