body {
    background-color: lightgray;
}

.item {
    border: 1px solid gray;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.cost {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin-left: 0;
    justify-content: space-between;
    border: 1px solid gray;
    padding: 1rem;
}
